
#jobs-timeline-graph {
  display: absolute;
  position: relative;
  width: 600px;
  height: 300px;
  margin: 1.1em 0 0;
  padding: 0;
  background: white;
  font-size: 11px;
}

#jobs-timeline-graph caption {
  caption-side: top;
  width: 600px;
  margin-top: 25px;
  top: -40px;
  position: relative;
}

#jobs-timeline-graph tr, #jobs-timeline-graph th, #jobs-timeline-graph td {
  position: absolute;
  bottom: 0;
  width: 150px;
  z-index: 2;
  margin: 0;
  padding: 0;
  text-align: center;
}

#jobs-timeline-graph td {
  transition: all .3s ease;
}
#jobs-timeline-graph td:hover {
  background-color: #4d4d4d;
  opacity: .9;
  color: white;
}

#jobs-timeline-graph thead tr {
  left: 100%;
  top: 50%;
  bottom: auto;
  margin: -2.5em 0 0 5em;
}

#jobs-timeline-graph thead th {
  width: 7.5em;
  height: auto;
  padding: 0.5em 1em;
}

#jobs-timeline-graph tbody tr {
  height: 296px;
  padding-top: 2px;
  border-right: 1px dotted #C4C4C4;
  color: #AAA;
}

#jobs-timeline-graph #q1 {
  left: 0;
}

#jobs-timeline-graph #q2 {
  left: 150px;
}

#jobs-timeline-graph #q3 {
  left: 300px;
}

#jobs-timeline-graph #q4 {
  left: 450px;
  border-right: none;
}

#jobs-timeline-graph tbody th {
  bottom: -1.75em;
  vertical-align: top;
  font-weight: normal;
  color: #333;
}

#jobs-timeline-graph .bar {
  width: 60px;
  border: 1px solid;
  border-bottom: none;
  color: #000;
}

#jobs-timeline-graph .bar p {
  margin: 5px 0 0;
  padding: 0;
  opacity: .4;
}

#jobs-timeline-graph .sent {
  left: 13px;
  background-color: #39cccc;
  border-color: transparent;
}

#jobs-timeline-graph .paid {
  left: 77px;
  background-color: #7fdbff;
  border-color: transparent;
}

#ticks {
  position: relative;
  top: -300px;
  left: 2px;
  width: 596px;
  height: 300px;
  z-index: 1;
  margin-bottom: -300px;
  font-size: 10px;
  font-family: "fira-sans-2", Verdana, sans-serif;
}

#ticks .tick {
  position: relative;
  border-bottom: 1px dotted #C4C4C4;
  width: 600px;
}

#ticks .tick p {
  position: absolute;
  left: -1em;
  top: -0.8em;
  margin: 0 0 0 0.5em;
}
