  <div class="container">
    <div class="eyes">
      <div class="row">
        <div class="col">
          <div class="float-left" id="lefteye">
            <app-graph-eyes>
            </app-graph-eyes>
          </div>
        </div>
        <div class="col">
          <div class="float-right" id="righteye">
            <app-graph-eyes>
                </app-graph-eyes>
          </div>
    </div>
    </div>
    </div>
  </div>
  <div class="gameboy-screen">
      <div class="mouth" id="mouth">
          <div class="tongue"></div>
          <ol class="teeth">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
          </ol>
          <ol class="ortho" id="ortho">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li class="hook"></li>
          </ol>
        </div>
<div class="container" id="graph">
  <div class="title">
    <h1>Jobgraph</h1>
  </div>
    <div class="row">
      <div *ngFor="let date of this.jobsGraphInterfaceService.applicationDates" class="col" id="top">
        <p>{{ this.jobsGraphInterfaceService.organizedJobListingsByDate[date].length }} apps</p>
    </div>
  </div>
  <div class="row">
    <div *ngFor="let date of this.jobsGraphInterfaceService.applicationDates" class="col" id="bottom">
      <p> {{ date }}</p>
    </div>
  </div>
</div>
</div>


