
.controls {
  position: relative;
}

  .dpad {
    width: 80px;
    height: 80px;
    background: lightgray;
    border: 2px solid line;
    border-radius: 100%;
    position: relative;
    left: 10px;
    top: 20px;
  }
      .plus:before, .plus:after {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          background-color: darkgray;
          border-radius: 3px;
          box-shadow: 0 0 0 3px line;
          content: '';
          display: block;
          height: 18px;
          width: 65px;
        }
        .plus:after {
          transform: translate(-50%, -50%) rotate(90deg);
        }

        .middle:before {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          background-color: darkgray;
          width: 30px;
          height: 15px;
        }
        .middle:after {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background: rgb(99, 99, 99);
            border-radius: 50%;
            border: 2px solid line;
            content: '';
            height: 12px;
            width: 12px;
          }

          .buttons {
            position: absolute;
            right: 10px;
            top: 35px;
            width: 90px;
            height: 38px;
            background-color: lightgray;
            border: 2px solid line;
            border-radius: 30px;
            display: flex;
            justify-content: space-between;
            transform: rotate(-35deg);
          }
            .buttons:before, .buttons:after {
              content: '';
              display: block;
              background-color: darkgray;
              width: 24px;
              height: 24px;
              border: 2px solid line;
              border-radius: 100%;
              margin: 7px;
            }


  .addJobButton {
    position: absolute;
    left: 32%;
    transform: translate(-20%, 80px);
    content: '';
    background-color: lightgray;
    border: 2px solid line;
    border-radius: 8px;
    margin: 0 4px;
    width: 60px;
    height: 25px;
  }
  .addJobButton:hover {

    background-color: rgb(165, 165, 165);

  }

  .motiv8Button {
    position: absolute;
    left: 56%;
    transform: translate(-20%, 80px);
    content: '';
    background-color: lightgray;
    border: 2px solid line;
    border-radius: 8px;
    margin: 0 4px;
    width: 60px;
    height: 25px;
  }
  .motiv8Button:hover {

    background-color: rgb(165, 165, 165);

  }

  .showGraphButton {
    left: 32%;
    position: absolute;
    transform: translate(-20%, 120px);
    content: '';
    background-color: lightgray;
    border: 2px solid line;
    border-radius: 8px;
    margin: 0 4px;
    width: 60px;
    height: 25px;
  }
   .showGraphButton:hover {

    background-color: rgb(165, 165, 165);

  }

  .showGameButton {
    left: 56%;
    position: absolute;
    transform: translate(-20%, 120px);
    content: '';
    background-color: lightgray;
    border: 2px solid line;
    border-radius: 8px;
    margin: 0 4px;
    width: 60px;
    height: 25px;
  }
   .showGameButton:hover {

    background-color: rgb(165, 165, 165);

  }
