<div class="controls">
    <div class="dpad">
      <div class="plus"></div>
      <div class="middle"></div>
    </div>
    <div class="buttons">
    </div>
      <button class="addJobButton" (click)="onClickAddJob()">
        <!-- +job -->
      </button>
      <button class="motiv8Button" (click)="onClickMotiv8()">
        <!-- motiv8 -->
      </button>
      <button class="showGraphButton" (click)="onClickShowGraph()">
        <!-- graph -->
      </button>
      <button class="showGameButton" (click)="onClickGameScreen()">
        <!-- game -->
      </button>
  </div>
