div {
	display:flex;
	align-items:center;
	justify-content:center;
	transition:transform 0.1s;
}

.orange {
	height:5vh;
	width:5vh;
	background-color:rgb(56, 57, 99);
	border-radius:100vh;
	margin:0 .625vh;
}

	.red {
		height:3.75vh;
		width:3.75vh;
		background-color:rgb(249, 148, 16);
		border-radius:100vh;
  }

		.white {
			height:2.1875vh;
			width:2.1875vh;
			background-color:#DEDEDE;
			border-radius:100% 0;
			transform:rotate(45deg);
			position:absolute;
    }

		.black {
			height:0.625vh;
			width:0.625vh;
			background-color:#000000;
			border-radius:100vh;
			position:absolute;
			z-index:100;
		}
